<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.board.mapper.BoardMapper">
    <resultMap id="boardResult" type="Board">
        <result column="BOARD_ID" property="boardId"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENTS" property="contents"/>
        <result column="FILE_NAME" property="fileName"/>
        <result column="MEMBER_EMAIL" property="memberEmail"/>
        <result column="CREATE_AT" property="createdAt"/>
        <result column="UPDATE_AT" property="updatedAt"/>
    </resultMap>

    <select id="findAll" resultMap="boardResult">
        SELECT  BOARD_ID,
        TITLE,
        MEMBER_EMAIL,
        CREATE_AT,
        UPDATE_AT
        FROM BOARD
    </select>
    <insert id="save">
        INSERT INTO
        BOARD(
        TITLE,
        CONTENTS,
        FILE_NAME,
        MEMBER_EMAIL,
        CREATE_AT,
        UPDATE_AT
        ) VALUES (
        #{title},
        #{contents},
        #{fileName},
        #{memberEmail},
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP
        )
    </insert>
    <select id="findOne" resultMap="boardResult">
        SELECT BOARD_ID,
        TITLE,
        MEMBER_EMAIL,
        CONTENTS,
        FILE_NAME,
        CREATE_AT,
        UPDATE_AT
        FROM BOARD
        WHERE BOARD_ID = #{boardId}
    </select>
    <delete id="delete">
        DELETE
        FROM BOARD
        WHERE BOARD_ID = #{boardId}
    </delete>
    <update id="update">
        UPDATE BOARD
        SET TITLE = #{title},
        CONTENTS = #{contents},
        FILE_NAME = #{fileName},
        UPDATE_AT = CURRENT_TIMESTAMP
        WHERE BOARD_ID = #{boardId}
    </update>
</mapper>