spring:
  application:
    name: board

  datasource:
    hikari:
      jdbc-url: jdbc:h2:tcp://localhost/C:\workspace\07_RestServer\db\tdb
      driver-class-name: org.h2.Driver
      username: sa
      password: 1234
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

    servlet:
      multipart:
        max-file-size: 10MB
        max-request-size: 50MB

server:
  port: 8888

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

mybatis:
  type-aliases-package: com.kh.board.entity
  mapper-locations: mappers/*.xml